<section class="register panel">
    <h1>Register</h1>
    <input type="text" placeholder="username" ng-model="reg.username"/>
    <input type="password" placeholder="password" ng-model="reg.password"/>
    <input type="submit" value="Register" ng-click="createAccount(reg)"/>
</section>
<section class="login panel ">
    <h1>Login</h1>
    <input type="text" placeholder="username" ng-model="log.username"/>
    <input type="password" placeholder="password" ng-model="log.password"/>
    <input type="submit" value="Login" ng-click="signIn(log)"/>
</section>